{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>
<script>
  function getLocationAndRedirect(){
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position){
        let lat = position.coords.latitude;
        let lng = position.coords.longitude;
        window.location.href = '/update-location/?lat=' + lat + '&lng=' + lng;
      });
    } else {
      alert("Location is not supported by this browser.");
    }
  }
</script>


<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="Sign Up">
</form>

<script>
  document.querySelector('form').addEventListener('submit', getLocationAndRedirect);
</script>

{% endblock %}