body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.dropdown-content {
  margin-top: 65px;
  min-width: 260px;
  align-items: center;
  text-align: center;
}

.button-like-link {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  outline: none;
}
.button-like-link:active {
  background-color: lightgray;
}

#search {
  margin-top: 4px;
  margin-left: 37%;
  width: 600px;
}
#search .search-container input {
  background-color: white;
  font-size: 24px;
}
#search .search-container input:focus {
  background-color: rgb(211, 255, 242);
}
#type-of-search {
  display: flex;
  justify-content: center;
}

#type-of-search form button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

#type-of-search form button:last-child {
  margin-right: 20px;
}
