{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MyFamily</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;My Family</a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <!-- insert links here for authenticated users -->
            <li><a href="/profile">Profile</a></li>
            <li><a href="/events/create/">Create Event</a></li>
            <li>
              <a href="#">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="submit-link">Log Out</button>
                </form>
              </a>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>

            {% endif %}
          </ul>
        </div>
        {% for notification in notifications %}
        <div>
          {% if not notification.read %}
          <strong>{{ notification.message }}</strong>
          {% else %} {{ notification.message }} {% endif %}
          <small>{{ notification.created_at }}</small>
        </div>
        {% endfor %}
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy; 2024 My Family &nbsp;</div>
    </footer>
  </body>
</html>
