{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MyFamily</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper cyan">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;My Family</a>
            </li>
            <li id="search">
              <div class="search-container">
                <form
                  autocomplete="off"
                  method="get"
                  action="{% url 'search' %}"
                >
                  <input type="text" placeholder="Search.." name="search" />
                </form>
              </div>
            </li>
          </ul>

          <ul class="right" style="font-size: 25px">
            {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}</li>
            <!-- insert links here for authenticated users -->
            <li>
              <a class="dropdown-button" href="#" data-activates="dropdown1">
                <i class="material-icons">menu</i>
              </a>
            </li>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="/events/create/">Create Event</a></li>
              <li><a href="{% url 'notifications' %}">Notifications</a></li>
              <!-- Add link to notifications page -->
              <li>
                <a href="#">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button-like-link">
                      Log Out
                    </button>
                  </form>
                </a>
              </li>
            </ul>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} {% if messages %}
      <div class="messages">
        <ul class="collection">
          {% for message in messages %}
          <li
            class="collection-item {% if message.tags %}{{ message.tags }}{% endif %}"
          >
            {{ message }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endblock %}
    </main>
    <footer class="page-footer cyan">
      <div class="right">All Rights Reserved, &copy; 2024 My Family &nbsp;</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
